@charset "utf-8";
//==============================================================================
// 変数
//==============================================================================
$color-text1:rgb(109,174,230);
$color-text2:#C35B9D;

//==============================================================================
// HTML
//==============================================================================
html {
  font-size: 10px;
  line-height: 1.8em;
  font-family: 'Rounded Mplus 1c', serif;
}

// 1000px以下になったらレスポンシブ
@media screen and (max-width: 1000px) {
  html {
    font-size: 1vw;
  }
}

//==============================================================================
// BODY
//==============================================================================
body {
  background-image: url(/web-quest/img/bg.png);
}

//==============================================================================
// 記事
//==============================================================================
article {
  background: rgba(129,194,250, 0.1);
  padding-bottom: 3em;
  header {
    margin-bottom: 3.0em;

    > h1 {
      font-size: 4.2em;
      font-weight: bold;
      color:white;
      line-height: 1.6em;
      text-indent: 0.3em;
      background-color:#A52175;
    }
  }

  > section {
    max-width: 1000px;
    max-height: 572px;
    width:100vw;
    height:56.2vw;
    margin:0 auto 3em auto;
    padding:2.4vw;
    box-shadow: 0px 0.5em 2.5em 0.5em rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.12);
    box-sizing: border-box;

    &:last-child{
      margin-bottom: 0;
    }
  }

  section {
    position: relative;

    > h2 {
      border-left: 0.3em solid #C35B9D;
      text-indent: 0.4em;
      font-size: 4.0em;
      line-height: 1.5em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    h3 {
      position: relative;
      color:#2D579A;
      font-size: 2.6em;
      font-weight: bold;
      text-indent: 0.5em;
      line-height: 1.7em;
      background: rgba(129,194,250, 0.1);
      border-radius: 0.3em;
      margin-bottom: 0.6em;

      &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0.5em;
        border: 0.3em solid transparent;
        border-top: 0.3em solid rgba(129,194,250, 1.1);
        width: 0;
        height: 0;
      }
    }

    > p{
      font-size: 2.5em;
      line-height: 1.6em;
      margin-bottom: 1.0em;
      &.zoom1 {
        font-size: 3.5em;
        margin-bottom: 0.4em;
      }
    }

    // 順不同リスト
    ul{
      padding: 0;
      font: 1.4em/1.6 'Rounded Mplus 1c', serif;
      list-style: none;
      margin-bottom: 1.5em;

      li{
        position: relative;
        padding: 0.1em 1em 0.1em 2.0em;
        margin-bottom:0.1em;
        color: $color-text1;
        font-size: 2.0em;
        font-weight: bold;

        &:after, &:before{
          content: "";
          position: absolute;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:before{
          top: 0.5em;
          left: 0.2em;
          width: 0.6em;
          height: 0.6em;
          border:0.1em solid rgba(129,194,250,0.5);
        }

        &:after{
          top: 0.9em;
          left: 0.7em;
          width: 0.7em;
          height: 0.7em;
          background: rgba(129,194,250,0.3);
          -webkit-transform: rotate(60deg);
          -moz-transform: rotate(60deg);
          -o-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
          transform: rotate(60deg);
        }
      }
    }

    // 順序リスト
    ol {
      counter-reset:list;
      list-style-type:none;
      font: 1.4em/1.6 'Rounded Mplus 1c', serif;
      padding: 0px;

      li {
        position:relative;
        padding: 0.1em 1em 0.1em 2.0em;
        margin-bottom:0.5em;
        color: $color-text1;
        font-size: 2.0em;
        font-weight: bold;

        &:before{
         counter-increment: list;
         content: counter(list);
         position: absolute;
         top: 0.2em;
         left: 0.17em;
         width: 1.5em;
         height: 1.5em;
         text-align: center;
         color: #fff;
         line-height:1.5em;
         z-index:1;
       }
       &:after{
         content:"";
         position: absolute;
         top: 0.4em;
         left: 0.4em;
         width: 1.1em;
         height: 1.1em;
         background: rgba(129,194,250,0.7);
         color: #fff;
         -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
        }
      }
    }

    // 定義リスト
    dl {
      dt {
        color:$color-text1;
        font-weight: bold;
        font-size: 3.0em;
        line-height: 1.6em;
      }

      dd {
        font-size: 2.3em;
        line-height: 1.6em;
        margin-bottom: 0.5em;
      }
    }

    > .bottom {
      position: absolute;
      margin: 0;
      bottom: 1.4vw;
    }
  }
}

//==============================================================================
// テキスト
//==============================================================================
a {
  text-decoration: none;
  font-weight: bold;
  color: #75AEA8;
  &:hover{
    color:$color-text2;
  }
}

em {
  color: $color-text2;
  font-weight: bold;
  font-size: 1.2em;
}

b{
  color: $color-text1;
  font-weight: bold;
  font-size: 1.2em;
}

//==============================================================================
// テーブル
//==============================================================================
table.deco {
	border-collapse: separate;
	border-spacing: 1px;
	line-height: 1.5;
  margin:0 auto 0 auto;
  box-sizing: border-box;

  th{
    font-size: 2.3em;
    line-height: 1.6em;
    padding: 0.2em;
  	font-weight: bold;
  	vertical-align: top;
  	color: #fff;
  	background: rgba(129,194,250,0.7);
  }
  td{
    font-size: 2.3em;
    line-height: 1.6em;
    padding: 0.5em;
  	vertical-align: top;
  	border-bottom: 1px solid #ccc;
  	background: rgba(200, 200, 200, 0.2);
  }
}

code {
  font-size: 2.3em;
  line-height: 1.4em;
}
